{{extend 'layout.html'}}
<form id="form" method="post">
  <input type="hidden" name="form" value="default"/>
  <label>Name</label>
  <input type="text" name="name" class="span3" readonly="readonly" value="{{=app.name}}"/>
  <br/>
  <button id="btnLocAdd" class="btn" type="button"><i class="icon-plus"></i> New Location</button>
  <table class="table table-striped">
  	<thead>
  		<tr>
  			<th>Name</th>
  			<th>Latitude</th>
  			<th>Longitude</th>
            <th>Radius</th>
  			<th></th>
  		</tr>
  	</thead>
  	<tbody id="tbLocations">
        <tr class="_template">
          <td><input name="locationName[]" type="text" placeholder="Name" class="span2" value="Iguatemi"/></td>
          <td><input name="locationLatitude[]" type="text" placeholder="Latitude" class="span2" value="-3.751037"/></td>
          <td><input name="locationLongitude[]" type="text" placeholder="Longitude" class="span2" value="-38.490629"/></td>
          <td><input name="locationRadius[]" type="text" placeholder="Radius (in meters)" class="span2" value="500"/></td>
          <td>
            <button name="btnLocMap" class="btn btn-info">
              <i class="icon-screenshot icon-white"></i>
            </button>
            <button name="btnLocRemove" class="btn btn-danger">
              <i class="icon-trash icon-white"></i>
            </button>
          </td>
        </tr>
      </tbody>
  </table>
  
  <button type="submit" class="btn" name="submit">Save</button>
</form>

<script type="text/javascript">

$(document).ready(function() {
  $.ajax({
    url: '{{=URL('getLocations', args = app.id)}}',
    dataType: 'json',
    success: function(locations) {
      $(locations).each(function(i,loc) {
        $('#tbLocations ._template')
          .clone(true).removeClass()
          .find('[name^=locationName]').val(loc.name).end()
          .find('[name^=locationLatitude]').val(loc.lat).end()
          .find('[name^=locationLongitude]').val(loc.lon).end()
          .find('[name^=locationRadius]').val(loc.radius).end()
          .find(':input').attr('disabled', true).end()
          .appendTo($('#tbLocations'))
          .find('[name=btnLocRemove]')
            .click(removeLocation).end();
      });
    }
  });
});

$('#btnLocAdd').click(function() {
  // Clona a linha de template e remove sua classe ._template
  $('#tbLocations ._template')
    .clone(true).removeClass()
    .appendTo($('#tbLocations'))
    .find('[name=btnLocRemove]')
      .click(removeLocation).end();
});

function removeLocation(e) {
  $(this).closest('tr').remove();
}

$('#form').submit(function() {
  $('._template').remove();
});
</script>