{{extend 'layout.html'}}
<a class="btn" href="{{=URL('insert')}}"><i class="icon-plus"></i> Add Application</a>

<h2>My Applications</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Identifier</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{ for app in apps: }}
    <tr>
      <td>{{=app.name}}</td>
      <td>{{=app.identifier}}</td>
      <td>
        <a class="btn btn-info" href="{{=URL('defineLocations', args=app.id)}}">
          <i class="icon-globe icon-white"></i>
        </a>
        <a class="btn btn-danger" href="{{=URL('remove', args=app.id)}}">
          <i class="icon-trash icon-white"></i>
        </a>
      </td>
    </tr>
    {{ pass }}
  </tbody>
</table>