{{extend 'layout.html'}}
<h2>Add Android Application</h2>
<form name="insert" action="{{=URL()}}" method="post">
  <label>Name</label>
  <input type="text" name="name" class="span3"/>
  <span class="help-block error">{{ =form.errors.get('name', '') }}</span>
  
  <label>Identifier</label>
  <input type="text" name="identifier" class="span3" placeholder="com.yourdomain.appname"/>
  <span class="help-block error">{{ =form.errors.get('identifier', '') }}</span>

  <br/>
  <input type="hidden" name="_formname" value="default">
  <button type="submit" class="btn">Save</button>
</form>
